body {
	background-color: #F9E2D1;
	background-image: url('../images/school.png');	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
}

h1 {
	padding-top: 35px;
	padding-bottom: 30px;
	font-family: 'Sorts Mill Goudy', Times, serif;
	font-size: 4.5em;
	color: #626267;
}

p {
	margin-bottom: 0px;
}

#randomWiki {
	margin-bottom: 20px;
	background-color: #75B8C8;
	color: #FAF9F9;
}

#searchField {
	position: relative;
	margin: 0 auto 20px auto;
	max-width: 425px;
}

#searchButton {
	background-color: #75B8C8;
	color: #FAF9F9;
}

#query {
	font-size: 16px;
}

.well {
	padding-top: 0px;
	background-color: white;
}

a:link, a:visited {
	color: #75B8C8;
}



